<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id        = "sepidapp"
        versionCode = "383" 
        version     = "1.0.2" >
		
	<name>سپیدپوشان</name>

    <description>
        اینجا مردم نبض دکترها را میگیرند: جستجو، ارزیابی، تخفیف
    </description>

    <author href="http://sepidpooshan.com" email="info@sepidpooshan.com">
        Sepidpooshan.com
    </author>

	
    <preference name="permissions"                value="none"/>
	<preference name="phonegap-version"           value="2.9.0" />         
	
    <access origin="*"/>

</widget>